body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(68, 146, 255));
  border-radius: 0;
  border-bottom: 10px solid black;
}

.jumbotron h1 {
  background: -webkit-linear-gradient(rgb(104, 214, 250), rgb(95, 95, 95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: impact;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  font-size: 23px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #3a3a3a;
  border-top: 4px dashed #000000;
  text-align: center;
  font-size: 25px;
  
}

.past {
  background-color: #d0cfcf;
  color: rgb(255, 255, 255);
}

.present {
  background-color: #fd8d87;
  color: white;
}

.future {
  background-color: #8de38d;
  color: white;
}

.saveBtn {
  border-left: 1px solid rgb(0, 0, 0);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(to right, rgb(149, 204, 255), rgb(121, 172, 243));
  color: rgb(255, 255, 255);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
  color: black;
}
